
@{
    ViewData["Title"] = "Home Page";
}
<table>
    <tr>
        <td><a type="button" class="btn btn-primary" asp-action="Index" asp-controller="Product">Products</a></td>
        <td><a type="button" class="btn btn-primary" asp-action="Index" asp-controller="Supplier">Suppliers</a></td>
        <td><a type="button" class="btn btn-primary" asp-action="Index" asp-controller="Category">Categories</a></td>
    </tr>
</table>





